<div class="card-body">
  <div class="row">
    <div class="col-sm-8">
      <div>
        <h1 style="display: inline;">Math</h1>
        <h6 style="display: inline;">is so beautiful.</h6>
      </div>
      <div class="text-center">
        <h1 class="display-1" style="display: inline; font-family: 'Lovers Quarrel';">Javascript</h1>
        <h6 style="display: inline;">is so eloquent.</h6>
      </div>
      <div class="text-right">
        <h1 style="display: inline;">Mediation</h1>
        <h6 style="display: inline;">is so peaceful.</h6>
      </div>
      <hr>
      <p>MJM aims to elevate your consciousness to the next level of maturity and expand your graceful self to make our society smarter with Javascript (or any other amazing ways).</p>
      <hr>
      <p>
        Teacher Benedict is a former MOE Math teacher. As the field of data science grew prominence, he felt that
        programming is one of the most relevant application of Mathematics in real life. Google opened up great
        opportunities of learning for our society. Teacher Benedict read about Mind Valley and was deeply intrigued by
        their Consciousness Engineering program. He believes anyone can reprogram their mind to achieve anything they
        want, if they have the right mindset and is for the good of society.
        Mathematics, Programming and Meditation became the 3 elements that resonate with Teacher Benedict. He chose to
        synthesize them together into a curriculum for children to grow and embrace their limitless potential.
      </p>
      <hr>
      <div>
        <h1 style="display: inline;">Math</h1>
        <h6 style="display: inline;">is so beautiful.</h6>
      </div>
      <div class="text-center">
        <h1 class="display-1" style="display: inline; font-family: 'Lovers Quarrel';">Javascript</h1>
        <h6 style="display: inline;">is so eloquent.</h6>
      </div>
      <div class="text-right">
        <h1 style="display: inline;">Mediation</h1>
        <h6 style="display: inline;">is so peaceful.</h6>
      </div>
    </div>
    <div class="col-sm-4 text-right">
      <img src="https://drive.google.com/uc?export=view&id=1uKNOrL6gPWK85QMSUn44eObZYvrpOp9Z">

    </div>
  </div>
</div>