<div class="card-body">
  <h6 class="text-right">> 5 years old</h6>
  <div class="row text-center">
    <div class="col-sm-3 bg-danger">1 month</div>
    <div class="col-sm-9 bg-success">Basic Scratch (Learn to program with Scratch)</div>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <svg height="10vw" class="w-75">
      <defs>
        <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="5" orient="auto">
          <path d="M0,0 L0,10 L9,5 Z" style="fill:black;"></path>
        </marker>
      </defs>

      <path d="M350,10 L350,90" style="stroke:black; stroke-width: 1.25px; fill: none;
              marker-end: url(#arrow);">
      </path>
    </svg>
  </div>
  <div class="col">
    <svg height="5vw" width="5vw">
      <path d="M10,10 L10,20" style="stroke:black; stroke-width: 1.25px; fill: none;
              marker-end: url(#arrow);">
      </path>
    </svg>
    <br>
    <div class="row">
      <div class="col text-left">
        Intermediate Scratch
        <hr>
        Advanced Scratch
      </div>
      <div class="col text-left">
        1 month
        <hr>
        Continuous learning
      </div>
    </div>
  </div>
</div>

<div class="card-body">
  <h6 class="text-right">> 8 years old</h6>
  <div class="row text-center">
    <div class="col-sm-3 bg-danger">1 month</div>
    <div class="col-sm-9 bg-success">Javascript for Kids</div>
  </div>
</div>

<div class="card-body">
  <div class="row text-center">
    <div class="col-sm-2 bg-secondary">Track</div>
    <div class="col-sm-4 bg-info">Game Development</div>
    <div class="col-sm-6 bg-primary">Web Development</div>
  </div>
</div>

<div class="card-body">
  <div class="row text-center">
    <div class="col-sm-2 bg-danger">1 month</div>
    <div class="col-sm-4" style="border-style: ridge;">Basic Unity</div>
    <div class="col-sm-3" style="border-style: ridge;">Basic Angular</div>
    <div class="col-sm-3" style="border-style: ridge;">Basic React</div>
  </div>
</div>

<div class="card-body">
  <div class="row">
    <div class="col text-center">
      <svg height="10vw" class="w-75">
        <path d="M350,10 L350,90" style="stroke:black; stroke-width: 1.25px; fill: none;
                marker-end: url(#arrow);">
        </path>
      </svg>
    </div>
    <div class="col">
      <p class="bg-warning text-center">Mobile Development</p>
      <div class="row">
        <div class="col">
          Mobile Unity
          <hr>
          Advanced Unity
        </div>
        <div class="col">
          Flutter
          <hr>
          Advanced Angular
        </div>
        <div class="col">
          React Native
          <hr>
          Advanced React
        </div>
        <div class="col">
          1 month
          <hr>
          Continuous learning
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body">
  <h6 class="text-right">> 11 years old</h6>
  <div class="row text-center">
    <div class="col-sm-3 bg-danger">1 month</div>
    <div class="col-sm-9 bg-success">Basic Python (Python for Kids)</div>
  </div>
</div>

<div class="card-body">
  <div class="row text-center">
    <div class="col bg-secondary">Track</div>
    <div class="col bg-info">Data Development</div>
    <div class="col bg-primary">Game Development</div>
    <div class="col bg-info">Web Development</div>
  </div>
</div>

<div class="card-body">
  <div class="row text-center">
    <div class="col-sm-3 bg-danger">1 month</div>
    <div class="col-sm-9">Intermediate Python</div>
  </div>
</div>

<div class="card-body">
  <div class="row text-center">
    <div class="col-sm-3 bg-danger">Continuous learning</div>
    <div class="col-sm-9">Professional Python</div>
  </div>
</div>

<hr>
<ul>
  <li>with strong focus on computational thinking skills that are transferable to the Singapore’s MOE mathematics
    syllabus for students to excel in Math.</li>
  <li>Students will be encouraged to practise math CA1, SA1, CA2, SA2 exam papers to stay connected with the Ministry’s
    mode of assessment. (and apply the programming methodology to tackle the problem sums).</li>
</ul>